import(package='flutter_view_widgets/flutter_view_widgets.dart')
import(file='./brain.dart') 

login-page(flutter-view)
	scaffold
		app-bar(as='appBar').appBar
			center(as="title") Login / Sign Up
		center(as='body')
			.login
				column(main-axis-alignment="space-around")
					array(as='children')
						.title Habitica Social
						.slogan Work with others to build habits and motivate yourself.
						gesture-detector(@on-tap='showMessage()')
							.googleSigninBtn
                    
            
                
                
            
            
		